@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@media (max-width: 600px) {
    .desktop-mode {
        display: none !important;
    }
    header {
        height: 80px;
    }
}

@media (min-width: 601px) {
    .mobile-mode {
        display: none !important;
    }
}

body {
    direction: rtl;
}

header {
    background-color: rgb(204, 217, 255);
}

footer {
    position: fixed;
    background-color: rgb(204, 217, 255);
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
}

.header-mobile-mode {
    display: flex;
    justify-content: space-between;
}

.bars-button {
    margin-left: 10px;
    margin-top: 40px;
}

.header-logo {
    width: 120px;
    height: 120px;
    margin: -20px 30px -70px;
    display: flex;
    justify-content: flex-end;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
}

.header-right-buttons {
    margin-right: 300px;
    display: flex;
}

.header-left-buttons {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.ui.animated.button.transparent {
    background-color: transparent;
}

.ui.icon.button.transparent {
    background-color: transparent;
}

body.pushable {
    background-color: rgb(0, 68, 102) !important;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    padding-top: 120px;
    color: aliceblue;
}

.sidebar-setting {
    margin-top: 40px;
}

.sidebar-content-dark-mode {
    display: flex;
}

.sidebar-content-dark-mode-toggle-box {
    margin-right: 30px;
}

.sahel-font {
    font-family: Sahel, serif;
}



.data-table th{
    background-color: #186AA5;
    border: 1px solid #5190BD;
    text-align: center;
    color: #FFFFFF;
}

.data-table tr:nth-child(odd){
    background-color: #E8EFF7;
}

.data-table tr:nth-child(even){
    background-color: #FFFFFF;
}

.data-table {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}

.data-table td {
    /* width: 25%; */
    text-align: center;
    border: 1px solid #F1F7F8;
    color: #186AA5;
}

@media screen and (max-width:600px) {
	table.mobile-optimised {
        border: 0px;
		word-wrap:break-word;
	}
	table.mobile-optimised thead {
		display:none
    }
    
    table.mobile-optimised tr:nth-child(odd){
        background-color: #E8EFF7;
    }
    table.mobile-optimised tr:nth-child(even){
        background-color: #E8EFF7;
    }

	table.mobile-optimised td {
        /* display:block; */
        position: relative;
        text-align: left;
		float:left;/* ie9 and under hack */
		width:100%;
        clear:both;
        border: 0px;
		background: transparent;
        padding:10px 5px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
        box-sizing:border-box;
        color: #71A2C8;
	}
	table.mobile-optimised tbody, table.mobile-optimised tr {
		display:block
	}
	.mobile-optimised td:before {
        content:attr(data-th);
		font-weight:bold;
        position: relative;
        float: right;
		color: #1D6DA7;
	}
	.mobile-optimised tbody tr {
		float:left;width:100%;
        margin: 20px 0px 20px 0px;
        padding: 0px 15px 0px 15px;
	}
}

.data-div{
    margin: 20px;
}

.btn.btn-outline-primary.data-btn{
    color: #186AA5;
    border-color: #186AA5;
    border-radius: 0px;
}

.btn.btn-outline-primary.data-btn:hover{
    background-color: #E8EFF7;
}

#next-btn{
    position: relative;
    float: left;
}

#previous-btn{
    position: relative;
    float:right;
}

/*--------------------START DARKMODE SWITCH-------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.switch-div{
    margin: 20px 0px 20px 0px
}

/*--------------------END DARKMODE SWITCH-------------------- */