@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 30px;
    background: rgb(171, 173, 173);
}

.header-items-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.header-buttons-right {
    margin-right: 300px;
    margin-top: 10px;
}

.header-buttons-left {
    margin-top: 10px;
    margin-left: 30px;
}

.header-logo {  
    width: 140px;
    height: 140px;
    margin-top: -45px;
    margin-right: 30px;
}

.header-text-color {
    color: black;
}

.sahel-font {
    font-family: Sahel;
}